.banner
    .image
    .banner__container
        .banner__row
            .banner__info
                .banner__title BÔNUS #[span DE] #[br] #[span BOAS-VINDAS]
                a(href='https://www.favbet.com/pt/short-register/').banner__button COMEÇAR A JOGAR
                a(href='https://www.favbet.com/promos/promo/new_welcome/').banner__link Termos e Condições
            .banner__dep
                .banner__dep-left
                    .in $ 3000
                    .in $ 3000
                    p $ 3000 #[span de depósito]
                    .in $ 3000
                    .in $ 3000
                    .in $ 3000
                    .in.in-none $ 3000
                    .in.in-mob $ 3000
                .banner__dep-right
                    .in $ 60
                    .in.in-mob $ 60
                    .in.in-mob $ 60
                    .in $ 60
                    .in $ 60
                    .in $ 60
                    p $ 60 #[span sem risco]
                    .in $ 60
                    .in.in-last $ 60
                    .in.in-mob $ 60
                    .in.in-mob $ 60
                    .in.in-mob $ 60
